<nav
  class="container px-4 sm:px-8 mx-auto flex justify-between items-center h-16 text-white bg-white text-gray-500"
>
  <img
    class="h-10"
    src="https://drive.google.com/uc?export=view&id=1L2gswTmj6dPc73XzGAtCx654z_yp9J6a"
    alt=""
  />
  <section>
    <h3>Daniel Santiago Forero Arevalo</h3>
    <!-- <button class="mx-4 px-2 py-1 hidden md:inline" href="#my-work">
      What I do?
    </button>
    <button class="mx-4 px-2 py-1 hidden md:inline" href="#my-work">
      My work
    </button>
    <div class="block md:hidden">
      <button
        id="nav-toggle"
        class="flex items-center px-3 py-2 border rounded text-grey border-grey-dark hover:text-white hover:border-white"
      >
        <svg
          class="fill-current h-3 w-3"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div> -->
  </section>
</nav>
