<app-nav></app-nav>
<main class="container md px-4 sm:px-8 mx-auto">
  <section
    class="h-screen flex flex-col sm:flex-row text-center sm:text-left items-center justify-between"
  >
    <article class="sm:w-3/5 sm:-mt-20">
      <h3 class="text-2xl">Hi, my name is <strong>Santiago Forero</strong></h3>
      <article class="w-3/4 p-4 mx-auto sm:hidden">
        <img
          src="https://drive.google.com/uc?export=view&id=1HwsyvRuIeQ7biJ57b04oaE6LLnwUvwPF"
          alt=""
          srcset=""
        />
      </article>
      <p class="my-10 text-2xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-5xl">
        I'm Web and Mobile Developer. Entrepreneur dedicated to improve and
        adapt to the needs of the tech ecosystem.
      </p>
      <app-primary text="Let's Talk" href="https://www.linkedin.com/in/dasafodev/"></app-primary>
    </article>
    <article class="w-2/5 -mt-20 p-8 hidden sm:inline">
      <img
        src="https://drive.google.com/uc?export=view&id=1HwsyvRuIeQ7biJ57b04oaE6LLnwUvwPF"
        alt=""
        srcset=""
      />
    </article>
  </section>

  <section class="knowledge">
    <h2
      class="text-2xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-5xl mb-8 font-semibold text-center"
    >
      What I do?
    </h2>
    <section class="flex flex-col sm:flex-row items-center sm:justify-around">
      <app-square
        text="Frontend Development"
        image="https://drive.google.com/uc?export=view&id=1lzpfnMvovRHKpZEiDUH0OfxYjuySluAT"
      ></app-square>
      <app-square
        text="Mobile development"
        image="https://drive.google.com/uc?export=view&id=1ucFni1NngIuEiHuAk2YSvZPVEC_jTVoZ"
      ></app-square>
      <app-square
        text="Backend Development"
        image="https://drive.google.com/uc?export=view&id=1OrpGLZWcYX1YbZOwHVpCnUz3yjcm1OME"
      ></app-square>
    </section>
  </section>

  <section id="my-work" class="my-16">
    <h2
      class="text-2xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold text-center mb-8"
    >
      My work
    </h2>

    <app-work-article
      title="Freelancer"
      text="For the last 2 years I have been working as a freelancer making web
    pages of all kinds such as: Landingpage, e-commerce and
    administrative. In these pages I have worked with frameworks like
    Angular and React. Also, for the e-commerce I worked with wordpress."
      image="https://drive.google.com/uc?export=view&id=1zdpZa8HeY0sZHcKtnSiP6wn3p_AL2r1G"
    ></app-work-article>

    <app-work-article
      title="Kuppo"
      text="I am co-founder and mobile developer of the Kuppo application, which
      was winner of the call for code in Latin America and world finalist in
      the world university version."
      image="https://drive.google.com/uc?export=view&id=17-YVVjEJmdSEsoJlpIEY5_kviivt4ppt"
    ></app-work-article>
  </section>
</main>
<footer id="contact" class=" flex flex-col fixed bottom-0 right-0">
  <a href="https://github.com/dasafodev"
    ><img
      src="https://img.icons8.com/doodle/48/000000/github--v1.png"
      alt="github"
    />
  </a>
  <a href="https://twitter.com/dasafodev"
    ><img
      src="https://img.icons8.com/doodle/48/000000/twitter.png"
      alt="twitter"
    />
  </a>
  <a href="https://www.linkedin.com/in/dasafodev/"
    ><img
      src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"
      alt="linkedin"
  /></a>
</footer>
